<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
      <h1> About Us </h1>
      <div class="row">
        <div class="col md-3">
          <p><img src="/static/ceo.png" alt="CEO"/></p>
          <h5>Chief Executive Officer (CEO)</h5>
          <h6>Valen</h6>
        </div>
        <div class="col md-3">
          <p><img src="/static/cso.png" alt="CSO"/></p>
          <h5>Chief Sales Officer (CSO)</h5>
          <h6>Elvin</h6>
        </div>
        <div class="col md-3">
          <p><img src="/static/cmo.png" alt="CMO"/></p>
          <h5>Chief Marketing Officer (CMO)</h5>
          <h6>Tammy</h6>
        </div>
        <div class="col md-3">
          <p><img src="/static/cto.png" alt="CTO"/></p>
          <h5>Chief Techinical Officer (CTO)</h5>
          <h6>Ronald</h6>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>