<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Card Deck</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="row">
    	<div class="col-sm-2"></div>
      	<div class="col-sm-8">
    		<h1> AWW Card Deck </h1>
    		<p> Play this in an orientation group setting! </p>
    	</div>
    	<div class="col-sm-2"></div>
	  </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="card" style="height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{ title }}
            </h5>
            <p class="card-text">
              {{ content }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-info btn-lg"
          onclick="document.location.href=this.getAttribute('href');"
          href="/card/truth"
        >
          Mostly Truth
        </button>
      </div>
      <div class="col-sm-4 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-warning btn-lg"
          onclick="document.location.href=this.getAttribute('href');"
          href="/card/dare"
        >
          Mostly Dare
        </button>
      </div>
      <div class="col-sm-2"></div>
    </div>
    
    {% endblock %}
  </body>
</html>