<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
	    <h1> AWW, that's nice! </h1>
		<p><img src="/static/company-logo.png" alt="Company logo"/></p>

	    <h2>What is AWW?</h2>
	    <p>AWW is an interactive game built on a web platform that encourages youths aged 18 to 27 to serve others through words of affirmation, encouragement and acts of service</p>

	    <h2>AWW's Vision</h2>
		<p>To be a leading icon in the facilitation of spreading good in Singapore.</p>

	    <h2>AWW's Mission</h2>
	    <p>To inspire and create a compassionate and generous community by inculcating habits of kindness through actions and words.</p>
	</div>

    {% endblock %}
  </body>
</html>