<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
      <h1>How to Play?</h1>
      <div class="text-center">
        <p>This game has three main functionalities</p>
        <h4>Card Deck</h4>
        <p>Card deck is a virtual card game to be played in a group setting. Take turns to draw cards from the deck and answer the questions or carry out the tasks accordingly. </p>

        <h4>Randomizer</h4>
        <p>Use randomizer if you're feeling spontaneous for the day! It'll give you a place to start and an idea of how you can make someone smile this week. </p>

        <h4>Bingo</h4>
        <p>Are you up for this challenge? Complete this bingo card with your friends in two weeks! (Note: Each task only needs to be completed by one person) Login to participate <a href="{{ url_for('login') }}">here</a>. </p>
      </div>
    </div>

    {% endblock %}
  </body>
</html>