<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="text-center">
      <h1>How to Play?</h1>
      <div class="text-center">
        <p>This game has three main functionalities</p>
        <h4>Card Deck</h4>
        <p>Card deck is a virtual group card game! Sit in a circle and take turns drawing card from the deck. Answer the questions on the card or do the things as instructed</p>

        <h4>Randomizer</h4>
        <p>Use randomizer if you're feeling spontaneous for the day! It'll give you a place to start and an idea of what kind acts can you do this week</p>

        <h4>Bingo</h4>
        <p>Use this bingo card to do 25 kind words or actions, you could do it yourself or with your friends! Sign up for an account to participate <a href="{{ url_for('register') }}">here</a> </p>
      </div>
    </div>

    {% endblock %}
  </body>
</html>